html {
    box-sizing: border-box;
}

*,
::after, ::before {
    box-sizing: inherit
}

.body {
    text-align: center;
    overflow-x: auto;
    max-width: 1000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(5, 5, 5);
    background-color: rgb(241, 241, 241);
}

.body--dark {
    background-color: rgb(5, 5, 5);
    color: rgb(241, 241, 241);
}

.button {
    color: rgb(5, 5, 5);
    background-color: rgb(241, 241, 241);
    font-size: 20px;
    font-weight: normal;
    border: 1px solid rgb(41, 46, 90);
    border-radius: 3px;
    margin: auto;
    padding: 10px;
    cursor:pointer;
}

.button--dark {
    border: 1px solid rgb(241, 241, 241);
    color: rgb(241, 241, 241);
    background-color: rgb(5, 5, 5);
}

.button:hover {
    background-color: rgb(41, 46, 90);
    color: rgb(241, 241, 241);
}

.container {
    overflow-x: auto;
}
